.completed {
  @include background-modal;
  @include box-shadow(10px, 0.8);
  @include position-center(fixed);
  @include flex(center, center, column);
  border-radius: 10px;
  text-align: center;
  padding: 20px 0 10px;
  width: 440px;
  z-index: 100;
  display: none;

  &_movie-title {
    @include font-heading-medium;
    letter-spacing: 2px;
    padding: 8px 0 4px;
    width: 280px;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
  }

  &_reservation-number {
    @include font-content-small;
    margin-top: 10px;
    .reservation-number {
      @include font-heading-small;
      color: $color-darkgray;
      margin-top: 2px;
      display: block;
    }
  }

  &_image {
    @include box-shadow;
    margin-top: 8px;
    width: 180px;
    height: 270px;
  }

  &_reservation-details {
    @include font-content-medium;
    margin-top: 10px;
    &_time {
      margin-top: 4px;
    }
  }

  &_qrcode {
    @include font-heading-small;
    @include flex(center, center, column);
    margin-top: 12px;
    color: $color-darkgray;

    &_image {
      width: 100px;
      height: 100px;
      margin-top: 2px;
    }
  }

  &_cancel {
    @include font-heading-smallest;
    @include button-clear;
    margin-top: 8px;
    padding: 4px 8px;
    color: red;
    &:active {
      transform: scale(0.95);
    }
  }
  &_close {
    @include position(absolute, $top: 8px, $right: 8px);
    @include button-clear;
    i {
      font-size: 36px;
    }
  }

  ~ .completed_overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include background-overlay;
    z-index: 99;
    display: none;
  }

  &.active {
    display: flex;

    ~ .completed_overlay {
      display: flex;
    }
  }
}
