.detail {
  @include position-center(fixed);
  @include flex-center;
  @include background-white;
  @include border-double();
  width: 1000px;
  height: 85%;
  border-radius: 10px;
  @include transition-opacity-start;

  &_spinner {
    @include position-center(absolute);
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  ~ .detail_overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include background-overlay;
    @include transition-opacity-start-overlay;
  }

  &.active {
    @include transition-opacity-end;

    ~ .detail_overlay {
      @include transition-opacity-end-overlay;
    }
  }
}
