.footer {
  @include background-black;
  height: 220px;
  opacity: 0.95;
  color: $color-white;
  padding: 15px;

  .footer_logo {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    img {
      width: 180px;
    }
  }

  .footer_copyright {
    display: block;
    font-size: 14px;
    margin-top: 15px;
  }

  .footer_github {
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
    display: flex;
    justify-content: space-around;

    li {
      width: 100px;
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    span {
      color: $color-gray;
      display: block;
      background-color: rgba(221, 221, 221, 0.1);
      line-height: 30px;
      border-radius: 3px;
      margin-top: 10px;
    }
  }
}

.gototop {
  position: fixed;
  bottom: 0;
  right: 40px;
  transition: 0.4s;
  transform: translate3d(0, 200px, 0);

  img {
    width: 40px;
    height: 40px;
  }
}
