.header {
  height: 220px;
  background-color: $color-black;
  padding-top: 20px;
  border-bottom: 2px solid $color-primary;
  position: relative;

  .header_headline {
    width: 600px;
    height: 180px;
    margin: 0px auto;
    text-align: center;
    padding: 40px 50px;
  }

  img {
    width: 360px;
  }

  span {
    display: block;
    color: $color-white;

    font: {
      size: 26px;
      weight: 900;
    }

    margin: 16px auto 0px;
  }

  .check-reservation {
    @include button-clear;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    i {
      font-size: 40px;
      color: #fff;
    }

    &::after {
      transition: all 0.3s;
      content: '예약 현황';
      display: block;
      @include position(absolute, $top: 45px, $left: 50%);
      transform: translate3d(-50%, 0, 0);
      padding: 5px;
      width: 80px;
      border-radius: 5px;
      // height: 30px;
      background-color: rgba(70, 70, 70, 0.8);
      color: $color-white;
      @include font(18px, 400);
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  .btn-myBooking {
    @include button-clear;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    &:active {
      transform: scale(0.95) translate3d(0, -50%, 0);
    }

    &_icon {
      font-size: 40px;
      color: #fff;
    }
    &::after {
      transition: all 0.3s;
      content: '나의 예약';
      display: block;
      @include position(absolute, $top: 45px, $left: 50%);
      transform: translate3d(-50%, 0, 0);
      padding: 5px;
      width: 80px;
      border-radius: 5px;
      // height: 30px;
      background-color: rgba(70, 70, 70, 0.8);
      color: $color-white;
      @include font(18px, 400);
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}
