.introduction {
  height: 900px;
  background-color: #111111ec;
  // background-color: #4b00e0ec;
  padding-top: 100px;
  position: relative;

  &::before {
    content: '';
    @include position(absolute, 0, 0, 0, 0);
    background-image: url('../img/background1.jpg');
    background-size: cover;
    z-index: -5;
  }
  h2 {
    @include font-heading-large;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    width: 360px;
    height: 50px;
    margin: auto;
    border-bottom: 2px solid $color-gray;
  }

  .introduction_image-container {
    width: 900px;
    height: 640px;
    margin: 40px auto 40px;
    position: relative;
  }

  .private-container {
    animation: showRight 1.8s;
    animation-fill-mode: forwards;
    display: none;
  }

  img {
    width: 660px;
    height: 400px;
    transform: scale(0.8);
  }

  figcaption {
    @include font(30px, 700);
    color: $color-white;
    width: 480px;
    position: absolute;
  }

  span {
    @include font-content-medium;
    display: block;
    width: 460px;
    line-height: 25px;
    margin-top: 10px;
  }

  .private-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .private-text {
    text-align: right;
    top: 130px;
    right: 70px;

    span {
      width: 400px;
      margin-left: 80px;
    }
  }

  .premium-img {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: showUp 2s;
    animation-fill-mode: forwards;
    display: none;
  }

  .premium-text {
    left: 70px;
    bottom: 60px;
    animation: showUpText 2.5s;
    animation-fill-mode: forwards;
    display: none;
  }
}

@keyframes showRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUpText {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
  }
}
