.spinner {
  @include position(absolute, $top: 50%, $left: 50%);
  transform: translate3d(-50%, -50%, 0);

  img {
    width: 150px;
    height: 150px;
  }
}

.boxoffice-container {
  position: relative;
  background-color: $color-black;
  opacity: 0.95;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .boxoffice_carousel {
    position: relative;
    height: 100%;
    width: 1484px;
    overflow: hidden;
    transform: scale(0.8);
    z-index: 999;
  }

  .boxoffice_list {
    --currentSlide: 1;
    --duration: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: transform calc(var(--duration) * 1ms) ease-out;
    transform: translate3D(calc(var(--currentSlide) * -316px), 0, 0);

    li {
      position: relative;
      width: 220px;
      height: 300px;
      color: $color-white;
      margin: 55px 0;
      transition: all 500ms ease-out;
      cursor: pointer;

      &.active {
        transform: scale3d(1.3, 1.3, 1.2);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    .movie-rank {
      @include font-heading-large;
      color: $color-white;
      position: absolute;
      top: 8px;
      left: 12px;
      text-shadow: 2px 4px 2px $color-darkgray;
    }

    .movie-info {
      height: 70px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #161616cc;
      padding-top: 13px;
      padding-left: 5px;
    }

    .movie-title {
      @include font-heading-smallest;
    }

    .movie-director {
      @include font-content-smallest;
      padding-top: 5px;
    }

    .movie-control {
      position: absolute;
      width: 220px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -50px;
      text-align: center;

      .movie-details,
      .booking-btn {
        padding: 8px 12px;
        margin: 0 5px;
        border: 1px solid $color-white;
        color: $color-white;
        background-color: $color-darkgray;
        outline: none;

        &:hover {
          // background-color: #8e2de2;
          background-color: #4a00e0;
          font-weight: 700;
        }
      }

      .booking-btn {
        border: 1px solid $color-white;
        background-color: $color-primary;
      }
    }
  }
}

.carousel-control-container {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 1300px;
  right: 50%;
  transform: translateX(50%);

  .prev,
  .next {
    font-size: 60px;
    color: $color-white;
    background-color: transparent;
    border-color: transparent;
    z-index: 99;

    &:focus {
      outline: none;
    }
  }
}
