// font
@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}

@mixin font-heading-large {
  font: {
    size: 30px;
    weight: 600;
  }
}

@mixin font-heading-medium {
  font: {
    size: 24px;
    weight: 500;
  }
}

@mixin font-heading-small {
  font: {
    size: 18px;
    weight: 500;
  }
}

@mixin font-heading-smallest {
  font: {
    size: 16px;
    weight: 500;
  }
}

@mixin font-content-large {
  font: {
    size: 24px;
    weight: 400;
  }
}

@mixin font-content-medium {
  font: {
    size: 18px;
    weight: 400;
  }
}

@mixin font-content-small {
  font: {
    size: 14px;
    weight: 400;
  }
}

@mixin font-content-smallest {
  font: {
    size: 13px;
    weight: 400;
  }
}

// button
@mixin button-clear {
  border: none;
  background-color: transparent;
}

@mixin button-normal {
  background-color: $color-white;
  border: 2px solid $color-primary;
}

@mixin button-active {
  border: none;
  background-color: $color-primary;
  color: $color-white;
}

// layout
@mixin position($position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin margin-center($width) {
  display: block;
  width: $width;
  margin: 0 auto;
}

@mixin position-center($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// etc
@mixin box-shadow($blur: 5px, $alpha: 0.25) {
  box-shadow: 0 3px $blur rgba($color: #000000, $alpha: $alpha);
}

@mixin background-primary {
  background-color: $color-primary;
}

@mixin background-white {
  background-color: $color-white;
}

@mixin background-black {
  background-color: $color-black;
}

@mixin background-modal {
  background-color: rgba($color: #fff, $alpha: 0.9);
}

@mixin background-overlay {
  background-color: rgba($color: #000000, $alpha: 0.8);
}

@mixin background-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(233, 233, 233, 1) 25%,
      rgba(228, 226, 226, 1) 50%,
      rgba(213, 213, 213, 1) 100%,
      rgba(217, 216, 216, 0) 100%);
}