@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin margin-center($width) {
  display: block;
  width: $width;
  margin: 0 auto;
}

@mixin position-center($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($blur: 5px, $alpha: 0.25) {
  box-shadow: 0 0 $blur rgba($color: #000000, $alpha: $alpha);
}

@mixin background-modal {
  background-color: rgba($color: #fff, $alpha: 0.8);
}
