.myBooking {
  @include background-modal;
  @include box-shadow(10px, 0.8);
  @include position-center(fixed);
  border-radius: 10px;
  padding: 25px 0 20px;
  width: 360px;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  display: none;

  &_heading {
    @include font-heading-medium;
    @include backgroun-primary;
    color: $color-white;
    position: absolute;
    width: 100%;
    padding: 15px 0 12px 0;
    top: 0;
    left: 0;
  }

  &_form {
    @include flex(center, center, column);
    margin: 50px 0 10px;

    * {
      display: block;
    }

    label {
      @include font-heading-small;
    }

    input {
      @include font-content-large;
      letter-spacing: 2px;
      margin-top: 10px;
      padding: 2px 10px;
      width: 100%;

      &:focus {
        outline: none;
        border: 3px solid $color-primary;
      }
    }

    .invalid {
      @include font-content-small;
      color: red;
      margin-top: 10px;
      display: none;
    }
  }

  .myBooking_close {
    @include button-clear;
    position: absolute;
    top: 8px;
    right: 8px;

    i {
      color: $color-white;
      font-size: 32px;
    }
  }

  ~ .myBooking_overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include background-overlay;
    display: none;
    z-index: 99;
  }

  &.active {
    display: block;

    ~ .myBooking_overlay {
      display: block;
    }
  }
}
