@import './mixin';

.reservation-container {
  @include position(fixed, $top: 0, $left: 0);
  @include flex-center();
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(3px);

  // opacity: 0;
  // z-index: -1000;

  section {
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    border: 1px solid $color-black;
    border-radius: 15px;
    padding: 30px;
    display: flex;

    .img-container {
      width: 400px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .reservation_time-table {
      flex: 1;
      padding: 20px;
      text-align: center;
      position: relative;

      h3 {
        @include font(30px, 700);
        margin-bottom: 30px;
      }

      .calendar {
        @include margin-center(470px);
        margin-bottom: 30px;
        box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        position: relative;
        background: #fff;

        .heading-container {
          background: $color-primary;
          margin: 0 auto;
          position: relative;
          display: flex;
          flex-flow: column nowrap;
          padding: 20px;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .heading-container button {
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          background: none;
          border: none;
          font-size: 30px;
          color: #fff;
          outline: none;
          cursor: pointer;
        }

        .btn-prev {
          left: 20px;
          display: none;
        }

        .btn-next {
          right: 20px;
        }

        .weeks {
          display: grid;
          grid-template: repeat(1, 1fr) / repeat(7, 1fr);
          text-align: center;
          padding: 10px 0;
          color: #aaa;
          font-weight: bold;
        }

        .main-container {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          margin: 0 auto;
          text-align: center;
          border-top: none;
          @include font (20px, 400)
        }

        .main-container button {
          padding: 20px;
          border-radius: 50%;
          transition: background-color 0.2s;
          cursor: pointer;
          border: none;
          background: none;
          @include font(20px, 400)
        }

        // .main-container button:hover {
        //   color: #fff;
        //   background-color: $color-primary;
        // }

        .main-container button.active {
          background: $color-primary;
          color: #fff;
        }
      }

      .radio-container {
        @include font(20px, 700);
        display: inline-flex;
        background: #fff;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        margin-right: 5px;

        label {
          @include flex-center();
          border: 1px solid $color-primary;
          flex-direction: column;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s
        }

        input {
          position: absolute;
          opacity: 0;

          &:checked+label {
            background: $color-primary;
            color: #fff;
          }

          &:disabled+label {
            background-color: $color-darkgray;
            color: gray;
            border: none;
          }
        }


      }

      .btn-group {
        margin-top: 30px;
        @include flex-center();

        button {
          @include font(25px, 700);
          width: 200px;
          height: 50px;
          background: none;
          margin-left: 30px;

        }

        .reservation-completed {
          background: $color-primary;
          color: #fff;

          &:disabled {
            background: $color-darkgray;
            color: gray;
          }
        }

        .reservation-close {
          @include position(absolute, $top: 0, $right: 0);
          width: 50px;
          border: none;
          font-size: 50px;
        }
      }
    }
  }
}