@import './mixin';

.reservation-container {
  @include position(fixed, $top: 0, $left: 0);
  @include flex-center();
  @include background-overlay;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);

  // opacity: 0;
  // z-index: -1000;

  section {
    @include background-modal;
    @include box-shadow;
    border: 1px solid $color-black;
    border-radius: 15px;
    padding: 30px;
    display: flex;

    .img-container {
      width: 400px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .reservation_time-table {
      flex: 1;
      padding: 20px;
      text-align: center;
      position: relative;

      h3 {
        @include font(30px, 700);
        margin-bottom: 30px;
      }

      .calendar {
        @include margin-center(470px);
        @include background-white;
        margin-bottom: 30px;
        box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        position: relative;

        .heading-container {
          @include flex(center, center, column);
          @include background-primary;
          margin: 0 auto;
          padding: 20px;
          position: relative;
          color: $color-white;
          border-top: {
            left-radius: 10px;
            right-radius: 10px;
          }
        }

        .heading-container button {
          @include button-clear;
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          font-size: 30px;
          color: $color-white;
          cursor: pointer;
        }

        .btn-prev {
          left: 20px;
          display: none;
        }

        .btn-next {
          right: 20px;
        }

        .weeks {
          display: grid;
          grid-template: repeat(1, 1fr) / repeat(7, 1fr);
          text-align: center;
          padding: 10px 0;
          color: $color-darkgray;
          font-weight: bold;
        }

        .main-container {
          @include font-content-medium;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          margin: 0 auto;
          text-align: center;
          border-top: none;
        }

        .main-container button {
          @include button-clear;
          @include font-content-medium;
          padding: 20px;
          border-radius: 50%;
          transition: background-color 0.2s;
          cursor: pointer;
        }

        // .main-container button:hover {
        //   color: $color-white;
        //   background-color: $color-primary;
        // }

        .main-container button.active {
          @include button-active;
        }
      }

      .radio-container {
        @include font(20px, 700);
        @include button-normal;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        margin-right: 5px;

        label {
          @include flex-center();
          border: 1px solid $color-primary;
          flex-direction: column;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;
        }

        input {
          position: absolute;
          opacity: 0;

          &:checked + label {
            @include button-active;
          }

          &:disabled + label {
            background-color: $color-darkgray;
            color: gray;
            border: none;
          }
        }
      }

      .btn-group {
        @include flex-center;
        margin-top: 30px;

        button {
          @include font(25px, 700);
          @include button-normal;
          width: 200px;
          height: 50px;
          margin-left: 30px;
        }

        .reservation-completed {
          @include button-active;

          &:disabled {
            background: $color-darkgray;
            color: gray;
          }
        }

        .reservation-close {
          @include position(absolute, $top: 0, $right: 0);
          @include button-clear;
          width: 50px;
          font-size: 50px;
        }
      }
    }
  }
}
