@import './mixin';

.reservation-container {
  @include position(fixed, $top: 0, $left: 0);
  @include flex-center();
  @include background-overlay;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  opacity: 0;
  z-index: -1000;
  transition: 0.2s;
  color: $color-darkgray;

  &.active {
    opacity: 1;
    z-index: 1000;
  }

  section {
    @include background-modal;
    @include box-shadow;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(233, 233, 233, 1) 25%,
        rgba(228, 226, 226, 1) 50%,
        rgba(213, 213, 213, 1) 100%,
        rgba(217, 216, 216, 0) 100%);
    border: 1px solid $color-black;
    border-radius: 15px;
    padding: 30px;
    display: flex;

    .img-container {
      @include font(16px, 700);
      width: 200px;
      text-align: center;
      margin-right: 50px;
      padding-top: 20px;

      h3 {
        @include font(20px, 700);
        margin-bottom: 15px;
        line-height: 1.2;
      }

      img {
        @include box-shadow;
        display: block;
        width: 100%;
        height: 70%;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      figcaption {
        display: block;
        margin-bottom: 10px;
      }
    }

    .reservation_time-table {
      flex: 1;
      text-align: center;
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 20px 0;

      .calendar {
        @include margin-center(270px);
        @include background-white;
        @include box-shadow;
        margin-bottom: 30px;
        border-radius: 10px;
        position: relative;


        .heading-container {
          @include flex(center, center, column);
          // @include background-primary;
          @include font(14px, 400);
          margin: 0 auto;
          padding: 10px 20px;
          position: relative;
          color: $color-white;
          background: linear-gradient(to right, #8e2de2, #4a00e0, #8e2de2);

          border-top: {
            left-radius: 10px;
            right-radius: 10px;
          }
        }

        .heading-container button {
          @include button-clear;
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          font-size: 20px;
          color: $color-white;
          cursor: pointer;
        }

        .btn-prev {
          left: 20px;
          display: none;
        }

        .btn-next {
          right: 20px;
        }

        .weeks {
          @include font(12px, 700);
          display: grid;
          grid-template: repeat(1, 1fr) / repeat(7, 1fr);
          text-align: center;
          padding: 10px 0 0;
          color: $color-darkgray;
        }

        .main-container {
          @include font-content-smallest;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          margin: 0 auto;
          text-align: center;
          border-top: none;
        }

        .main-container button {
          @include button-clear;
          padding: 12px;
          border-radius: 50%;
          transition: background-color 0.2s;
          cursor: pointer;
        }

        // .main-container button:hover {
        //   color: $color-white;
        //   background-color: $color-primary;
        // }

        .main-container button.active {
          @include button-active;
        }
      }

      .radio-container {
        @include font(20px, 700);
        @include button-normal;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        margin-right: 5px;
        border: none;

        label {
          @include flex-center();
          @include font(14px, 700);
          @include box-shadow;

          border: 1px solid $color-primary;
          flex-direction: column;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
        }

        input {
          position: absolute;
          opacity: 0;

          &:checked+label {
            @include button-active;
          }

          &:disabled+label {
            background-color: #aaa;
            color: gray;
            border: none;
          }
        }
      }

      .btn-group {
        @include flex-center;
        margin-top: 30px;

        button {
          @include font(18px, 700);
          @include button-normal;
          @include box-shadow;
          width: 100px;
          height: 40px;
          margin-left: 30px;
          border-radius: 10px;
        }

        .reservation-completed {
          @include button-active;
          margin: 0;

          &:disabled {
            background: #aaa;
            color: gray;
          }
        }

        .reservation-close {
          @include position(absolute, $top: -25px, $right: -20px);
          @include button-clear;
          box-shadow: none;
          width: 30px;
          font-size: 25px;
        }
      }
    }
  }
}