.trailer {
  @include position-center(fixed);
  @include flex-center;
  @include background-black;
  padding: 10px;
  border: 10px solid $color-white;
  border-radius: 10px;
  @include transition-opacity-start;

  &_spinner {
    @include position-center(absolute);
  }

  iframe {
    width: 800px;
    height: 600px;
  }
  ~ .trailer_overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include background-overlay;
    @include transition-opacity-start-overlay;
  }

  &.active {
    @include transition-opacity-end;

    ~ .trailer_overlay {
      @include transition-opacity-end-overlay;
    }
  }
}
