.trailer {
  @include position-center(fixed);
  @include flex-center;
  @include background-white;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
  display: none;

  &_spinner {
    @include position-center(absolute);
    font-size: 100px;
  }

  iframe {
    width: 800px;
    height: 500px;
  }
  ~ .trailer_overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include background-overlay;
    display: none;
    z-index: 99;
  }

  &.active {
    display: block;

    ~ .trailer_overlay {
      display: block;
    }
  }
}
